<?xml version="1.0" encoding="utf-8"?>
<configuration> 

  <connectionStrings>

    <clear/>

    <!--Bogus connection to test that the connection manager loads the connection strings -->
    <add name="TestConnectionName" connectionString="TestConnectionString" providerName="TestProviderName"/>

    <!--SQL Server-->
    <add name="master" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.CommandsTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=CommandsTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.CommandsAsyncTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=CommandsAsyncTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.InsertAsyncTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=InsertAsyncTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.UpdateAsyncTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=UpdateAsyncTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.LocalTransactionTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=LocalTransactionTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.LocalTransactionWithDataPassingTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=LocalTransactionWithDataPassingTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.InOutParametersTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=InOutParametersTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.TestMultipleResults.ConnectionString" connectionString="Data Source=.;Initial Catalog=TestMultipleResults;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.ParametersPassingTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=ParametersPassingTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.ParametersPassingPrimitiveTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=ParametersPassingPrimitiveTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.PolymorphicUsageTest.ConnectionString" connectionString="Data Source=.;Initial Catalog=PersonCustomerEmployeeExecutive;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.PopulateCollectionsSource1.ConnectionString" connectionString="Data Source=.;Initial Catalog=PopulateCollectionsSource1;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerDataAccessTest.PopulateCollectionsSource2.ConnectionString" connectionString="Data Source=.;Initial Catalog=PopulateCollectionsSource2;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <!--PostgreSQL 9.3-->
    <add name="PostgreSQLMaster" connectionString="Server=127.0.0.1;User Id=user;Password=user;Database=postgres;" providerName="Npgsql"/>
    
    <add name="PostgreSQLDataAccessTest.CommandsTest.ConnectionString" connectionString="Server=127.0.0.1;User Id=user;Password=user;Database=CommandsTest;" providerName="Npgsql"/>

    <add name="PostgreSQLDataAccessTest.LocalTransactionTest.ConnectionString" connectionString="Server=127.0.0.1;User Id=user;Password=user;Database=LocalTransactionTest;" providerName="Npgsql"/>

    <add name="PostgreSQLDataAccessTest.InOutParametersTest.ConnectionString" connectionString="Server=127.0.0.1;User Id=user;Password=user;Database=InOutParametersTest;" providerName="Npgsql"/>
    
  </connectionStrings>

  <!--<system.diagnostics>

    <sources>

      <source
        name="DataAccess.Logger.DataAccess"
        switchName="SharedSwitch"
        switchType="System.Diagnostics.SourceSwitch" >

        <listeners>
          <add name="EventLogListener" />
          <add name="FileListener" />
        </listeners>

      </source>

    </sources>

    <switches>

      <add name="SharedSwitch" value="All" />

    </switches>

    <sharedListeners>

      <add
        name="FileListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="C:\Logs\DataAccessLog.txt" />

      <add
        name="EventLogListener"
        type="System.Diagnostics.EventLogTraceListener"
        initializeData="DataAccessSourceLog" />

    </sharedListeners>

    <trace autoflush="true" indentsize="4">

      <listeners>
        <add name="EventLogListener" />
        <add name="FileListener" />
      </listeners>

    </trace>

  </system.diagnostics>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
